


 
.benefits-oats-main-sec{
	position: relative;
	background: #fff;
	z-index: 1;min-height:800px;
}
.benefits-oats-main-bg{
	position: absolute;
	left: 0;
	right: 0;
	top:0;
	bottom: 60%;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	z-index: 1;
}
.benefits-oats-main-sec::after {
    content: "";
    position: absolute;
    left: 0;
    top: 17%;
    background-image: url(../images/benefits-oats-main-spun.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    width: 655px;
    height: 753px;
    z-index: 2;
}
.benefits-oats-main-innr{
	
}
.benefits-oats-element {
    background: #fff;
    -ms-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    max-width: 1070px;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    padding: 50px 40px;
    border-radius: 10px;
    top: -90px;
}



.benefits-oats-element li{
	padding: 10px;
	position: relative;
	float: left;
	width:25%;
}
.benefits-oats-element li:not(:last-child)::after {
    content: "";
    position: absolute;
    right: -6px;
    top: 11px;
    color: #000;
    font-size: 35px;
    width: 2px;
    height: 46px;
    background: #666;
}
.benefits-oats-element img{
	max-width: 210px;
}

.benefits-oats-features-main{
	padding-left: 100px;
	position: relative;
	z-index: 10
}

.benefits-oats-features-main-col-1 .benefits-oats-con-1{
	width:48%;
	float: left;
}
.benefits-oats-features-main-col-1 .benefits-oats-con-2{
	width:52%;
	float: left;
}


.benefits-oats-features-main-col-2{
	/*padding-left: 710px;*/
}


.benefits-oats-features-main-col-2 .benefits-oats-con-1{
	width:52%;
	float: right;
}
.benefits-oats-features-main-col-2 .benefits-oats-con-2{
	width:52%;
	float: right;
}

.benefits-oats-features-main-col-3 .benefits-oats-con{
	width:75%;
	float: right;	
}

.benefits-oats-features-main .benefits-oats-con{
	margin-bottom: 80px;
}

.benefits-oats-features-main-col-1 .benefits-oats-con-1 p{
	max-width: 340px
}
.benefits-oats-features-main-col-1 .benefits-oats-con-2 p,
.benefits-oats-features-main-col-2 .benefits-oats-con-1 p{
	max-width: 470px	
}
.benefits-oats-features-main-col-2 .benefits-oats-con-2 p{
	max-width: 555px	
}
.benefits-oats-features-main-col-3 .benefits-oats-con p{
	max-width: 615px		
}
.benefits-oats-feature-btm-bg{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	min-height: 880px;
}
.benefits-source-vitamins {
    border: 20px solid #052c57;
    padding-top: 60px;
	background: url(../images/benefits-oats-featurs-bg.jpg)no-repeat;
	background-size: cover;
	background-position: center center;
}
.benefits-source-vitamins-innr{
	max-width: 1195px;
	margin: 0 auto;
}
.benefits-oats-con {
    position: relative;
    padding-left: 140px;
    padding-top: 10px;
    padding-right: 12px;
}
.benefits-oats-con h5 {
    font-family: 'PFCatalog-Black';
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 17px;
}
.benefits-oats-con p{
	font-size:16px;
}
.benefits-source-vitamins li .benefits-oats-con p{
	max-width: 350px
}
.benefits-source-vitamins li:nth-child(2n+1) .benefits-oats-con p{
	max-width: 370px;
}
.benefits-source-vitamins li{
	float: left;
	width:46.36%;
	margin-top: 60px;
	margin-bottom: 60px;
}
.benefits-source-vitamins li:nth-child(2n+1){
	clear: left;
}
.benefits-source-vitamins li:nth-child(2n+1){
	clear: left;
	width:53.64%;
}
.benefits-oats-con img{
	max-width: 100px;
	position: absolute;
	top:0;
	left:0;
}

.benefits-unleash-power{
	padding: 105px 0 90px;
	background: #fff;
	text-align: center;
}
.benefits-unleash-power strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 52.5px;
	font-family: 'PFCatalog-Black';
	margin-bottom: 10px;
}
.benefits-unleash-power p{
	max-width: 640px;
	margin: 0 auto;
	line-height: 20px;
}


#benefits-our-recipes-sec .h-our-recipes-sec-hdr {
    max-width: 1100px;
    padding-bottom: 100px;
}
#benefits-our-recipes-sec .h-our-recipes-sec-hdr h3 {
    margin-bottom: 22px;
}



@media(max-width: 1599px){

}

@media(max-width: 1199px){
	.benefits-oats-feature-btm-bg {
		min-height: 700px;
	}	
}

@media(max-width: 991px){
	.benefits-source-vitamins li {
	    margin-top: 40px;
	    margin-bottom: 40px;
	}
	.benefits-oats-con {
	    padding-left: 100px;
	}
	.benefits-oats-con img {
	    max-width: 70px;
	}
	.benefits-unleash-power strong {
	    font-size: 40px;
	}
}

@media(max-width: 767px){
	.benefits-oats-feature-btm-bg {
		min-height: 500px;
	}
	.benefits-source-vitamins li:nth-child(2n+1){
		clear: initial;
	}
	.benefits-source-vitamins li {
		width:100%!important;
	}	
	.benefits-oats-con h5 br{
	   display: none;
	}
	.benefits-source-vitamins li .benefits-oats-con p {
	    max-width: 100%!important;
	}
	.benefits-source-vitamins {
	    border-width: 10px;
	    border-left:0;
	    border-right: 0; 
	    padding-top: 44px;
	    padding-bottom: 40px;
	}
	.benefits-oats-con {
	    padding-left: 70px;
	    padding-top: 0;
	    padding-right: 0;
	}
	.benefits-oats-con img {
	    max-width: 45px;
	}
	.benefits-source-vitamins li {
	    margin-top: 15px;
	    margin-bottom: 15px;
	}	
	.benefits-unleash-power strong {
	    font-size: 32px;
	}
	.benefits-unleash-power p br,	
	.benefits-unleash-power strong br{
	    display: none
	}
	.benefits-unleash-power {
	    padding: 52px 0 42px;
	}

}

@media(max-width: 639px){
	.benefits-oats-feature-btm-bg {
		min-height: 310px;
	}
}

@media(max-width: 575px){

}

@media(max-width: 479px){
	.benefits-oats-feature-btm-bg {
		min-height: 270px;
	}
}

@media(max-width: 359px){

}












