











.benefits-oats-feature-btm-bg{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	min-height: 880px;
}
.benefits-oats-2{
	border: 20px solid #052c57;
	padding: 100px 0 0;
}
.benefits-oats-2-innr{
	max-width: 1195px;
	margin: 0 auto;
}
.benefits-oats-con{
	position: relative;
	padding-left: 140px;
	padding-top: 10px;
}
.benefits-oats-con h5{
	font-family: 'PFCatalog-Black';
	font-size: 18px;
	margin-top: 0;
	margin-bottom: 10px;
}
.benefits-oats-con p{
	font-size:16px;
}
.benefits-oats-2 li .benefits-oats-con p{
	max-width: 350px
}
.benefits-oats-2 li:nth-child(2n+1) .benefits-oats-con p{
	max-width: 370px;
}
.benefits-oats-2 li{
	float: left;
	width:46.36%;
	margin-bottom: 125px;
}
.benefits-oats-2 li:nth-child(2n+1){
	clear: left;
	width:53.64%;
}
.benefits-oats-con img{
	max-width: 100px;
	position: absolute;
	top:0;
	left:0;
}







.benefits-oats-3{
	padding: 105px 0 90px;
	background: #fff;
	text-align: center;
}
.benefits-oats-3 strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 52.5px;
	font-family: 'PFCatalog-Black';
	margin-bottom: 10px;
}
.benefits-oats-3 p{
	max-width: 640px;
	margin: 0 auto;
	line-height: 20px;
}



















































































