/**
All Transitions
*/
.product-list-item:hover .product-list-img a img,
.gallery-hover-controller:hover .dsw-ms-gallery-item img,
a,input,img,textarea,button,.qp-more-hover-btn,
.h-our-recipes-sec-hdr a:after,.quaker-products-more-btn a:after,
.about-sec-grd-col a:after,
.promo-banner-slide-des a:after,
.h-our-story-sec-col-des a:after,
.recipe-items-slide-img{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.product-list-item:hover .product-list-img a img,
.gallery-hover-controller:hover .dsw-ms-gallery-item img,
.scale,
.follow-us-grd-item:hover > img,
.recipe-items-slide-item:hover .recipe-items-slide-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.product-list-item:hover .product-list-img a img{
	transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.product-list-item:hover .product-list-img a img{
	transform: scale(1.03);
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{
	color:#fff;
}

