/**
All Transitions
*/
.product-list-item:hover .product-list-img a img,
.gallery-hover-controller:hover .dsw-ms-gallery-item img,
a,input,img,textarea,button,.qp-more-hover-btn,
.h-our-recipes-sec-hdr a:after,.quaker-products-more-btn a:after,
.about-sec-grd-col a:after,
.promo-banner-slide-des a:after,
.h-our-story-sec-col-des a:after,
.recipe-items-slide-img{
	transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.product-list-item:hover .product-list-img a img,
.gallery-hover-controller:hover .dsw-ms-gallery-item img,
.scale,
.follow-us-grd-item:hover > img,
.recipe-items-slide-item:hover .recipe-items-slide-img{
	transform: scale(1.1);
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.product-list-item:hover .product-list-img a img{
	transition: all 0.3s;
	-ms-transition: all 0.3s;
	-webkit-transition: all 0.3s;
}
.product-list-item:hover .product-list-img a img{
	transform: scale(1.03);
	-ms-transform: scale(1.03);
	-webkit-transform: scale(1.03);
	-o-transform: scale(1.03);
}
.promoBannerSlider .slick-current .promo-banner-slide-img{
	transform: scale(1);
	transform-origin: 100% 50%;
	opacity: 1;
}

/**
All Hovers
*/
a:focus,button:focus,input:focus,textarea:focus{
	outline: none;
}
a:hover{
	text-decoration: none;
}
nav.main-nav ul li a:hover,
nav.main-nav ul li.current-menu-item a{
	color:#fff;
}


/**
Custom animations
*/
.prInnerHdr{
	opacity: 0;
	transition: all 0.5s;
	transition-delay: 1.5s;
}
.aniLoaded .product-inr-bg-rgt{
	width: 100%;
}
.aniLoaded .product-inr-bg-lft{
	width: 50%;
}
.aniLoaded .prInnerHdr{
	opacity: 1;
}
.prInnerTitle{
  -webkit-animation-name: TitleUP;
  animation-name: TitleUP;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;	
  -webkit-animation-delay: 2s;
  animation-delay: 2s;	
}
.recipe-items-slide-img:after{
	background: #fff;
	content: "";
	position: absolute;
	right: 0;
	width: 100%;
	top: 0;
	bottom: 0;
	transition: all 0.5s;
}
.onScreen .recipe-items-slide-img:after{
	width: 0;
}

.hasBgAnimation{
    opacity: 0;
    width: 0;
    transition: all .7s;
}
.aniLoaded .page-banner-wrap{
	width: 100%;
	opacity: 1;
}
.hasBgAnimation + .container{
	position: relative;
	z-index: 3;
}

.recipe-banner-dsc .prInnerTitle,
.qk-banner-dsc .prInnerTitle{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;	
}