 .footer-wrp{
 	background: #002853;
 	color:#fff;
 }
.ftr-top {
    position: relative;
    padding-bottom: 150px;
    text-align: center;
    margin-top: -125px;
}
.ftr-top-wid-subtitle strong,
.ftr-top strong {
    font-family: 'PFCatalog-Black';
    display:block;
    font-size: 160px;
}
.ftr-top-wid-subtitle:after,
.ftr-top:after{
	content: "";
	position: absolute;
	background:url(../images/frt-Q.png)no-repeat; 
	background-position: center center;
	background-size: 100% auto;
	top: 30%;
	left:50%;
	transform: translate(-50%, -50%);
	width:277px;
	height: 392px;
}
.ftr-top-wid-subtitle{
    position: relative;
    padding-bottom: 150px;
    text-align: center;
    margin-top: -125px;	
}
.ftr-top-wid-subtitle:after{
	top: 30%;
}
.ftr-top-wid-subtitle span.subtitle{
    font-family: 'PFCatalog-Black';
    display:block;
    margin:auto;
    font-size: 26px;
}

.ftr-social {
	text-align: center;
	padding: 20px 0;
}
.ftr-social > span{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'PFCatalog-Light';
	color:#fff;
	text-decoration: underline;
	padding-left:10px;
	margin-bottom: 12px;
}
.ftr-social ul{
	display: table;
	margin: 0 auto;
}
.ftr-social li{
	float: left;
}
.ftr-social li:not(:last-child){
	padding-right: 13px;
}
.ftr-social li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 35px;
	color: inherit;
}

.ftr-social li a:hover img{
	opacity: .5
}

.ftr-links{
	padding: 30px;
}
.ftr-links ul{
	display: table;
	margin: 0 auto;
}
.ftr-links li{
	float: left;
	padding: 0 10px;
	position: relative;
}
.ftr-links li a{
	display: inline-block;
	vertical-align: baseline;
	font-size: 15px;
	color: #7d889c;
}
.ftr-links li:not(:last-child):after{
	content:"|";
	position: absolute;
	right: 0;
	top: 0;
	font-size: 15px;
	color: #7d889c;
}
.ftr-links li a:hover{
	color: #fff;
}
.ftr-top-bg{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	min-height: 420px;
}






/*footer 2*/

#footer-white{
	background: #fff;
}

#footer-white .ftr-social ul li a{
	color: #002853;
}

#footer-white .ftr-links ul li a:hover{
	color: #002853;
}
#footer-white .ftr-links{
	padding-top: 50px;
}
#footer-white .ftr-social{
	padding-top: 90px;
}








@media(max-width: 1599px){

}

@media(max-width: 1199px){

}

@media(max-width: 991px){

}

@media(max-width: 767px){

}

@media(max-width: 639px){

}

@media(max-width: 575px){

}

@media(max-width: 479px){

}

@media(max-width: 359px){

}






/*power of ots*/

/*power of ots*/

.power-benefits-of-orga{
	background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
}
.power-benefits-of-orga-innr{
	padding: 175px 0 205px;
	max-width: 990px;
	margin: 0 auto;
}
.power-benefits-of-orga-innr strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 60px;
	font-family: 'PFCatalog-Black';
	font-weight: normal;
	margin-bottom: 10px;
}
.power-benefits-of-orga-innr p{
	font-size: 16px;
}
.power-benefits-of-orga-innr a {
    display: inline-block;
    vertical-align: baseline;
    font-family: 'PFCatalog-Light';
    color: inherit;
    margin-top: 45px;
    position: relative;
    padding-right: 30px;
}
.power-benefits-of-orga-innr a:after{
	content: "";
	position: absolute;
	right: 0;
	top:2px;
	background-image: url(../images/right-arrow-long.png);
	background-repeat: no-repeat;
	background-size: 100% auto;
	width:20px;
	height: 15px;	
	-ms-transition: all .3s ease;
	-webkit-transition: all .3s ease;
	transition: all .3s ease;
}
.power-benefits-of-orga-innr a:hover:after{
	right:-5px;
}
.power-good-energy{
	background: #002853;
	color:#fff;
	text-align: center;
}
.power-good-energy-innr {
    padding: 100px 0 100px;
    max-width: 1000px;
    margin: 0 auto;
}
.power-good-energy-innr p{
	font-size: 28px;
	font-family: 'PFCatalog-bold';
}
.power-energy-necessary{
	text-align: center;
	padding: 70px 0 100px;
}
.power-energy-necessary-innr{
}
.power-energy-necessary-top {
	max-width: 900px;
	margin: 0 auto;
	padding-bottom: 85px;
}
.power-energy-necessary-top h2{
	margin-bottom: 18px;
	font-family: 'PFCatalog-Black';
}
.power-energy-necessary-top p {
    margin-bottom: 13px;
}
.power-energy-necessary-top p span{
	display: inline-block;
	vertical-align: baseline;
	font-weight: 700;
}
.power-energy-necessary-img{
	text-align: center;
    padding-bottom: 115px;
}
.power-energy-necessary-img a{
	display: inline-block;
	vertical-align: baseline;
	max-width: 645px
}
.power-energy-necessary-img a img{
	width:100%;
}
.features-of-ots {
    max-width: 1240px;
    margin: 0 auto;
}
.features-of-ots li {
    float: left;
    padding: 0 23px;
    width: 25%;
}
.features-of-ots li h5{
	font-size: 18px;
	font-family: 'PFCatalog-Black';
	text-transform: uppercase;
	margin-bottom:15px; 
}









@media(max-width: 1599px){

}

@media(max-width: 1199px){

}

@media(max-width: 991px){

}

@media(max-width: 767px){

}

@media(max-width: 639px){

}

@media(max-width: 575px){

}

@media(max-width: 479px){

}

@media(max-width: 359px){

}