




.bnr-btm-des-sec{
	background: #0c325b;
	padding:83px 0 45px;
}
.bnr-btm-des-sec .bnr-btm-des-innr{
	max-width: 975px;
	margin: 0 auto;
}
.bnr-btm-des-sec p{
	font-family: 'PFCatalog-Light';
	font-size: 18px;
	line-height: 27px;
	color:#fff;
	margin-bottom: 35px;
}




.top-history-sec{
	padding: 90px 0 75px;
	text-align: center;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}
.top-history-innr{
	max-width: 1160px;
	margin: 0 auto;
}
.top-history-head {
	padding-bottom: 50px;
}
.top-history-head h1{
	font-family: 'PFCatalog-Black';
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 30px;
}
.top-history-head p{
	font-family: 'PFCatalog-Light';
}

.top-history-main{

}
.top-history-main li{
	width:33.333%;
	float: left;
	padding-left: 60px;
	padding-right: 60px;

}
.top-history-main li img{
	max-width: 250px;
	margin-bottom: 30px;
}



.history-line-sec{	
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	padding: 105px 0 105px;
	text-align: center;
}
.history-line-sec strong{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'PFCatalog-Black';
	font-size: 32px;
	line-height: 38px;
	color: #fff;
}







.history-timeline-sec{
	padding: 78px 0 92px
}
.history-timeline-top {
    text-align: center;
    font-family: 'PFCatalog-Light';
    padding-bottom: 55px;
}
.history-timeline-main {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}
.history-timeline-main:after{
	content:"";
	position: absolute;
	left:50%;
	top:0;
	bottom: 0;
	transform: translateX(-50%);
	height: 100%;
	width: 2px;
	background: #d5dce4;
	z-index: 1
}
.history-timeline-main:before{
	content:"";
	position: absolute;
	left:50%;
	top:0;
	transform: translateX(-50%);
	height: 150px;
	width: 2px;
	background: #002853;
	z-index: 2
}
.history-timeline-main ul li{
	margin-bottom: 160px;
}
.history-timeline-main ul li .time-line-img{
	float: left;
	width: 50%;
	padding-right: 56px;
	text-align: right;
}
.history-timeline-main ul li .time-line-des{
  float: right;
  width: 50%;
  padding-left: 56px;
  padding-top: 100px;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-img{
    float: right;
	padding-right: 0;
	padding-left: 56px;
	text-align: left;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-des{
  float: left;
  padding-right: 56px;
  padding-left: 0;
  text-align: right;
}
.time-line-des h3{
	font-size: 30px;
	font-family: 'PFCatalog-Black';
	position: relative;
	margin-top: 0;
}
.history-timeline-main ul li .time-line-des h3:after{
	content: "";
	position: absolute;
	left:-64px;
	top:7px;
	width:15px;
	height: 15px;
	border-radius: 100%;
	background:#d5dce4;
	z-index: 3
}
.history-timeline-main ul li:first-child .time-line-des h3:after{
	background:#002853;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after{
	left:auto;
	right:-64px;
}










































