.bnr-btm-des-sec{
	background: #0c325b;
	padding:83px 0 45px;
	text-align: center;
}
.bnr-btm-des-sec .bnr-btm-des-innr{
	max-width: 975px;
	margin: 0 auto;
}
.bnr-btm-des-sec p{
	font-family: 'PFCatalog-Light';
	font-size: 18px;
	line-height: 27px;
	color:#fff;
	margin-bottom: 35px;
}
.top-history-sec{
	padding: 90px 0 55px;
	text-align: center;
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
}
.top-history-innr{
	max-width: 1160px;
	margin: 0 auto;
}
.top-history-head {
    padding-bottom: 118px;
}
.top-history-head h1{
	font-family: 'PFCatalog-Black';
	font-size: 60px;
	margin-top: 0;
	margin-bottom: 30px;
}
.top-history-head p{
	font-family: 'PFCatalog-Light';
}
.top-history-main li {
    width: 33.333%;
    float: left;
    padding-left: 45px;
    padding-right: 45px;
    margin-bottom: 30px;
}
.top-history-main li:nth-child(3n+1){
	clear: left;
}
.top-history-main li img{
	max-width: 250px;
	margin-bottom: 30px;
}
.top-history-main li p{
	line-height: 21px;
}
.history-line-sec{	
	background-repeat: no-repeat!important;
	background-size: cover!important;
	background-position: center center!important;
	padding: 105px 0 105px;
	text-align: center;
}
.history-line-sec strong{
	display: inline-block;
	vertical-align: baseline;
	font-family: 'PFCatalog-Black';
	font-size: 32px;
	line-height: 38px;
	color: #fff;
}
.history-timeline-sec{
	padding: 78px 0 92px
}
.history-timeline-top {
    text-align: center;
    font-family: 'PFCatalog-Light';
    padding-bottom: 55px;
}
.history-timeline-main {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    padding-top: 30px;
}
/*.history-timeline-main:after{
	content:"";
	position: absolute;
	left:50%;
	top:0;
	bottom: 0;
	transform: translateX(-50%);
	height: 100%;
	width: 2px;
	background: #d5dce4;
	z-index: 1;
}*/
/*.history-timeline-main:before{
	content:"";
	position: absolute;
	left:50%;
	top:0;
	transform: translateX(-50%);
	height: 150px;
	width: 2px;
	background: #002853;
	z-index: 2
}*/
.history-timeline-main ul li{
	padding-bottom: 160px;
    position: relative;
}
.history-timeline-main ul li .time-line-img{
	float: left;
	width: 50%;
	padding-right: 56px;
	text-align: right;
}
.history-timeline-main ul li .time-line-des{
  float: right;
  width: 50%;
  padding-left: 56px;
  padding-top: 100px;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-img{
    float: right;
	padding-right: 0;
	padding-left: 56px;
	text-align: left;
}
.history-timeline-main ul li:nth-child(2n+2) .time-line-des{
  float: left;
  padding-right: 56px;
  padding-left: 0;
  text-align: right;
}
.time-line-des h3{
	font-size: 30px;
	font-family: 'PFCatalog-Black';
	position: relative;
	margin-top: 0;
}
.history-timeline-main ul li .time-line-des h3:after{
	content: "";
	position: absolute;
	left:-64px;
	top:7px;
	width:16px;
	height: 16px;
	border-radius: 100%;
	background:#d5dce4;
	z-index: 3
}
.history-timeline-main ul li .time-line-des h3 .pointBullet{
	position: absolute;
	left:-64px;
	top:7px;
	width:16px;
	height: 16px;
	border-radius: 100%;
	background:#d5dce4;
	z-index: 3	
}

.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after,
.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:before{
	left:auto;
	right:-64px;
}


#history-qk-banner-sec .qk-banner-dsc{
    max-width: 800px;
}
.history-timeline-main-wrp{
	overflow: hidden;
	position: relative;
}
.firstLine{
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
    background: #d5dce4;
    z-index: 1;
}
.historyActiveWrap .firstLine{
	background: #002853;
}
.history-timeline-main.thisActive ul li .time-line-des h3:after{
	background: #002853;
}
.middleElement{
	position: fixed;
	height: 1px;
	width: 1px;
	left: 50%;
	top: 50%;
}
.historyActiveWrap{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 0px;
    overflow: hidden;	
}
.historyActiveWrap .time-line-des h3 span,
.historyActiveWrap .history-timeline-main ul li .time-line-img,
.historyActiveWrap .time-line-des p{
	opacity: 0;
	visibility: hidden;
}

@media(max-width: 1199px){
	.top-history-main li {
	    padding-left: 30px;
	    padding-right: 30px;
	}
	.history-timeline-main ul li .time-line-des {
	    padding-left: 40px;
	    padding-top: 60px;
	}
	.history-timeline-main ul li .time-line-des h3:after,
	.history-timeline-main ul li .time-line-des h3 .pointBullet{
	    left: -48px;
	}
	.history-timeline-main ul li {
	    padding-bottom: 110px;
	}
}

@media(max-width: 991px){
	.history-timeline-main ul li {
	    padding-bottom: 60px;
	}
	.top-history-head h1{
		font-size: 50px;
		margin-bottom: 20px;
	}
	.top-history-main li {
	    padding-left: 10px;
	    padding-right: 10px;
	}
	.top-history-main li img {
	    max-width: 175px;
	}
}

@media(max-width: 767px){
	.firstLine {
	    left: 0;
	    transform: none;
	}
	.top-history-head h1{
		font-size: 40px;
	}
	.top-history-sec {
	    padding: 60px 0 75px;
	}
	.history-timeline-main ul li .time-line-des h3:after, 
	.history-timeline-main ul li .time-line-des h3 .pointBullet,
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:after, 
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des h3:before{
	    left: -32px;
	}
	.history-timeline-main-wrp,
	.historyActiveWrap{
		padding: 0 10px;
	}
	.history-timeline-main ul li .time-line-img {
	    width: 100%;
	    padding-right:0;
	    text-align: left;
	}
	.history-timeline-main ul li .time-line-des {
	    float: left;
	    width: 100%;
	    padding-left: 0;
	    padding-top: 20px;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-des {
	    float: left;
	    padding-right: 0;
	    padding-left: 0;
	    text-align: left;
	}
	.history-timeline-main ul li:nth-child(2n+2) .time-line-img {
	    float: left;
	    padding-right: 0;
	    padding-left: 0;
	    text-align: left;
	}
	.history-timeline-main {
	    padding : 0 25px;
	}
	.history-timeline-main ul li {
	    padding-bottom: 40px;
	}
	.history-timeline-sec {
	    padding: 50px 0 10px;
	}
	.history-timeline-top {
	    padding-bottom: 25px;
	}
	.history-timeline-main-wrp{
		max-height: initial;
		overflow-y: initial;
	}

}

@media(max-width: 639px){
/*	.top-history-main li img {
	    max-width: 140px;
	}*/
	.top-history-main li{
		width:100%;
		float: none;
		text-align: center;
	    margin-bottom: 60px;
	}
	.top-history-main li:nth-child(3n+1){
		clear: initial;
	}
	.top-history-main li img {
	    max-width: 200px;
	}
	.top-history-sec {
	    padding: 60px 0 10px;
	}
}

@media(max-width: 575px){

}

@media(max-width: 479px){
	.top-history-main li img {
	    max-width: 130px;
	}
}

@media(max-width: 359px){

}




























