.recipe-banner-sec-wrp{
	padding-top: 332px;
	overflow: hidden;
	position: relative;
}
.recipe-banner-wrp{
	position: relative;
	z-index: 10;
}
.recipe-banner-dsc{
	max-width: 460px;
	width: 100%;
	position: relative;
	padding-bottom: 180px;
}
.recipe-banner-dsc span{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	font-family: 'PFCatalog-Black';
	padding-left: 10px;
	
}
.recipe-banner-dsc strong{
	margin-top: 10px;
	margin-bottom: 25px;
	text-transform: uppercase;
	display: block;
	color: #ffffff;
	font-size: 80px;
	line-height: 62px;
	font-family: 'PFCatalog-Black';
}
.recipe-banner-dsc p{
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
}

.recipe-banner-icon{
	padding-bottom: 100px;
	padding-top: 190px;
}
.recipe-banner-icon a{
	display: inline-block;
}
.recipe-banner-icon-sct-wrap a img{
	display: inline-block;
}


.recipe-cnt-sct-btm-wrp{
	margin-bottom: 130px;
}
.recipe-sec-hdr{
	padding-top: 120px;
	padding-bottom: 100px;
}
.recipe-sec-hdr h2{
	margin: 0 0 20px 0;
	color: #002853;
	font-size:60px;
	line-height: 65px;
	font-family: 'PFCatalog-Black';
	
}
.recipe-sec-hdr p{
	color: #22456a;
	line-height: 22px;
}

.recipe-cnt-sct-btm-left{
	float: left;
	width: 50%;
	padding-right: 128px;
}
.recipe-cnt-sct-btm-right{
	float: right;
	width: 50%;
}
.recipe-cnt-sct-btm-left strong,
.recipe-cnt-sct-btm-right strong{
	display: block;
	padding-bottom: 20px;
	font-size: 16px;
	color: #002853;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'PFCatalog-Black';
}
.recipe-cnt-sct-btm-left p{
	color: #11365e;
	line-height: 20px;
	font-family: 'PFCatalog-Light';
	
}
.recipe-cnt-sct-btm-right ul{
	padding-left: 18px;
}
.recipe-cnt-sct-btm-right ul li{
	padding-bottom: 4px;
}
.recipe-cnt-sct-btm-right ul li p{
	color: #002853;
}

.recipe-con-sec-btns{
	max-width: 530px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 170px;
}
.recipe-con-sec-btns a{
	display: inline-block;
	padding: 20px 75px 20px 35px;
	font-size: 16px;
	color: #11365e;
	font-family: 'PFCatalog-Light';
	border: 1px solid #002853;
	border-radius: 5px;
	margin-left: 13px;
	margin-right: 13px;
	position: relative;
	margin-bottom: 10px;
}
.recipe-con-sec-btns a:first-child:after,
.recipe-con-sec-btns a:last-child:after{
	content: "";	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 20px;
}
.recipe-con-sec-btns a:first-child:after{
	background: url(../images/recipe-cnt-next.png)!important;
	background-repeat: no-repeat;
	width: 28px;
	height: 21px;

}
.recipe-con-sec-btns a:last-child:after{
	background: url(../images/recipe-cnt-chef.png)!important;
	background-repeat: no-repeat;
	width: 22px;
	height: 23px;
	right: 18px;
}

a.transparent-btn:hover:first-child:after{
	background: url(../images/recipe-cnt-next-white.png)!important;
}
a.transparent-btn:hover:last-child:after{
	background: url(../images/recipe-cnt-chef-white.png)!important;
}


.recipe-con-sec-btns a:last-child{
	padding-right: 55px;
}

.recipe-slider-sec-hdr{
	padding-bottom: 100px;
}
.recipe-slider-sec-hdr h3{
	text-align: center;
	font-size: 80px;
	line-height: 70px;
	color: #002853;
	font-family: 'PFCatalog-Black';
	margin: 0 0 20px 0;
}

.recipeItemsSliderController{
	overflow: hidden;
}
.recipe-items-slider li{
	float: left;
}

.recipe-items-slide-item{
	position: relative;
	overflow: hidden;
}
.recipe-items-slide-item:hover .recipe-text span{
	color: #9e192d;
}
.recipe-items-slide-img{
	min-height: 550px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.recipe-text{
	position: absolute;
	bottom: 33px;
	left: 20px;
	opacity: 0;
}
.recipe-text span{
	display: block;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'PFCatalog-Black';
		transition: all 0.5s;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}
.recipeItemsSlider.slick-initialized .slick-slide.slick-active .recipe-text{
	opacity: 1;
}

.recipe-follow-us-sec-hdr{
	padding: 40px 0 80px;
	text-align: center;
	color: #002853;
}
.recipe-follow-us-sec-hdr h3,
.recipe-follow-us-sec-hdr h4{
	font-family: 'PFCatalog-Black';	
}
.recipe-follow-us-sec-hdr h3{
	font-size: 52px;
	line-height: 55px;
	margin: 0 0 20px 0;
}
.recipe-follow-us-sec-hdr h4{
	margin: 0 0 10px 0;
	font-size: 28px;
	line-height: 30px;
}

.followUsSliderController ul{
	list-style: none;
	padding-left: 0;
}
.followUsSliderController ul li{
	float: left;
	padding: 0 20px;
}





.follow-us-grd-item{
	position: relative;
	overflow: hidden;
	border-radius: 10px;
}

.follow-us-grd-item > img{
	width: 100%;
	border-radius: 10px;
}
.follow-us-grd-item-follow-icon{
	position: absolute;
	top: 15px;
	left: 15px;
	z-index: 11;
}
.follow-us-grd-item-follow-icon a{
	display: inline-block;
	vertical-align: baseline;
}
.follow-us-grd-item-follow-icon img{
	display: inline-block;
	vertical-align: baseline;
}



@media(max-width: 1600px){

}

@media(max-width: 1399px){

}

@media(max-width: 1199px){

	.recipe-items-slide-img{
		min-height: 400px;
	}
	.recipe-text span{
		font-size: 15px;
		line-height: 20px;
	}
	.recipe-sec-hdr {
	    padding-top: 100px;
	    padding-bottom: 80px;
	}
	.recipe-con-sec-btns{
		padding-bottom: 150px;
	}
	.recipe-banner-icon{
		padding-top: 80px;
		padding-bottom: 70px;
	}
}


@media(max-width: 991px){
	.recipe-text span{
		font-size: 16px;
		line-height: 202x;
	}
	.recipe-sec-hdr {
	    padding-top: 80px;
	    padding-bottom: 60px;
	}
	.recipe-con-sec-btns{
		padding-bottom: 100px;
	}
	.recipe-slider-sec-hdr{
		padding-bottom: 60px;
	}
	.recipe-cnt-sct-btm-wrp {
	    margin-bottom: 100px;
	}
	.recipe-banner-icon{
		padding-top: 0;
	}
	.recipe-banner-dsc strong{
		margin-bottom: 10px;
		margin-top: 0;
	}
}


@media(max-width: 767px){
	.recipe-items-slide-img{
		min-height: 350px;
	}
	.recipe-text span{
		font-size: 15px;
		line-height: 20px;
	}
	#footer-white .ftr-social{
		padding-top: 60px!important;
	}
	.recipe-sec-hdr p br{
		display: none;
	}
	.recipe-slider-sec-hdr{
		padding-bottom: 60px;
	}
	.recipe-cnt-sct-btm-wrp {
	    margin-bottom: 80px;
	}
	.recipe-banner-sec-wrp{
		padding-top: 0;
	}
	.recipe-banner-wrp{
		background: #f5f8fa;
	}
}



@media(max-width: 639px){

}



@media(max-width: 575px){
	.recipe-items-slide-img{
		min-height: 380px;
	}
	.recipe-text span{
		font-size: 14px;
		line-height: 18px;
	}
	.recipe-text {
	    opacity: 1;
	}
	.follow-us-grd-item-follow-icon a{
		width: 18px;
	}
	.follow-us-grd-item-follow-icon{
		left: 10px;
		top: 10px;
	}
	.recipe-cnt-sct-btm-left{
		width: 100%;
		padding-right: 0;
	}
	.recipe-cnt-sct-btm-right{
		width: 100%;
	}
	.recipe-con-sec-btns{
		text-align: center;
	}
	.recipe-cnt-sct-btm-left{
		padding-bottom: 30px;
	}
	.recipe-cnt-sct-btm-wrp {
	    margin-bottom: 55px;
	}
	.recipe-con-sec-btns {
	    padding-bottom: 80px;
	}
}


@media(max-width: 479px){


}



@media(max-width: 359px){

}