/*
------------------------------
macy-2items-isotop-gallery-sec
------------------------------
*/
.macy-2items-isotop-gallery-sec{
	padding-top: 110px;
	padding-bottom: 25px;
}
.qk-isotop-menu{
	border-bottom: 2px solid #f2f4f6;
}
.qk-isotop-menu ul{
	list-style: none;
	margin: 0 auto;
	padding: 0;
	display: table;
}
.qk-isotop-menu ul li{
	float: left;
	padding: 0 19px;
}
.qk-isotop-menu ul li a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #7f93a9;
	font-family: 'PFCatalog-Light';
	padding-bottom: 8px;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}
.button.checked,
.button.is-checked{
	color: #002853;
	border-bottom: 2px solid #002853;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}

.qk-ms-gallery-wrp{
	padding-top: 60px;
}
.gallery-2items-controller ul{
	list-style: none;
	margin: 0 -15px;
	padding: 0;
}
.gallery-2items-controller ul li{
	padding: 15px 15px;
	float: left;
}
.gallery-hover-controller{
	position: relative;
}
.dsw-ms-gallery-item{
	overflow: hidden;
}
.qk-gallery-item-dsc{
	position: absolute;
	left: 20px;
	bottom: 35px;
}
.qk-gallery-item-dsc h5{
	margin: 0;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	font-family: 'PFCatalog-Light';
}
.qk-gallery-item-dsc h5 a{
	display: inline-block;
	vertical-align: baseline;
	text-decoration: none;
	color: inherit;
}
.gallery-hover-controller:hover .qk-gallery-item-dsc h5 a{
	color: #002a41;
	-ms-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}