.recipe-banner-sec-wrp{
	background-repeat: no-repeat!important;
	background-size: cover!important;
	padding-top: 332px;
}
.recipe-banner-dsc{
	max-width: 460px;
	width: 100%;
	position: relative;
	padding-bottom: 180px;
}
.recipe-banner-dsc strong{
	color: #ffffff;
	text-transform: uppercase;
	font-weight: normal;
	display: block;
	font-family: 'PFCatalog-Black';
	padding-left: 6px;
	
}
.recipe-banner-dsc h1{
	margin-top: 10px;
	margin-bottom: 25px;
	text-transform: uppercase;
	color: #ffffff;
	font-size: 80px;
	line-height: 62px;
	font-family: 'PFCatalog-Black';
}
.recipe-banner-dsc p{
	font-size: 16px;
	line-height: 25px;
	color: #ffffff;
}

.recipe-banner-icon{
	padding-bottom: 100px;
}
.recipe-banner-icon a{
	display: inline-block;
}
.recipe-banner-icon-sct-wrap a img{
	display: inline-block;
}


.recipe-cnt-sct-btm-wrp{
	margin-bottom: 130px;
}
.recipe-sec-hdr{
	padding-top: 120px;
	padding-bottom: 100px;
}
.recipe-sec-hdr h2{
	margin: 0 0 20px 0;
	color: #002853;
	font-size:60px;
	line-height: 65px;
	font-family: 'PFCatalog-Black';
	
}
.recipe-sec-hdr p{
	color: #22456a;
	line-height: 22px;
}

.recipe-cnt-sct-btm-left{
	float: left;
	width: 50%;
	padding-right: 128px;
}
.recipe-cnt-sct-btm-right{
	float: right;
	width: 50%;
}
.recipe-cnt-sct-btm-left strong,
.recipe-cnt-sct-btm-right strong{
	display: block;
	padding-bottom: 20px;
	font-size: 16px;
	color: #002853;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'PFCatalog-Black';
}
.recipe-cnt-sct-btm-left p{
	color: #11365e;
	line-height: 20px;
	font-family: 'PFCatalog-Light';
	
}
.recipe-cnt-sct-btm-right ul{
	padding-left: 18px;
}
.recipe-cnt-sct-btm-right ul li{
	padding-bottom: 4px;
}
.recipe-cnt-sct-btm-right ul li p{
	color: #002853;
}

.recipe-con-sec-btns{
	max-width: 530px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 180px;
}
.recipe-con-sec-btns a{
	display: inline-block;
	padding: 20px 75px 20px 35px;
	font-size: 16px;
	color: #11365e;
	font-family: 'PFCatalog-Light';
	border: 1px solid #002853;
	border-radius: 5px;
	margin-left: 13px;
	margin-right: 13px;
	position: relative;
}
.recipe-con-sec-btns a:first-child:after,
.recipe-con-sec-btns a:last-child:after{
	content: "";	
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	right: 20px;
}
.recipe-con-sec-btns a:first-child:after{
	background: url(../images/recipe-cnt-next.jpg);
	background-repeat: no-repeat;
	width: 28px;
	height: 21px;

}
.recipe-con-sec-btns a:last-child:after{
	background: url(../images/recipe-cnt-chef.jpg);
	background-repeat: no-repeat;
	width: 22px;
	height: 23px;
	right: 18px;
}
.recipe-con-sec-btns a:last-child{
	padding-right: 55px;
}

.recipe-slider-sec-hdr{
	padding-bottom: 100px;
}
.recipe-slider-sec-hdr h3{
	text-align: center;
	font-size: 80px;
	line-height: 70px;
	color: #002853;
	font-family: 'PFCatalog-Black';
	margin: 0 0 20px 0;
}

.recipeItemsSliderController{
	overflow: hidden;
}
.recipe-items-slider li{
	float: left;
}

.recipe-items-slide-item{
	position: relative;
}
.recipe-items-slide-img{
	min-height: 550px;
	background-size: cover!important;
	background-position: center center!important;
	background-repeat: no-repeat!important;
}
.recipe-text{
	position: absolute;
	bottom: 33px;
	left: 20px;
	opacity: 0;
}
.recipe-text span{
	display: block;
	font-size: 20px;
	line-height: 22px;
	color: #fff;
	text-transform: uppercase;
	font-family: 'PFCatalog-Black';
}
.recipeItemsSlider.slick-initialized .slick-slide.slick-active .recipe-text{
	opacity: 1;
}


.recipe-instgm-sct-inner h2{
	text-align: center;
	padding-top: 20px;
	font-size: 52px;
	display: block;
	padding-bottom: 12px;
	line-height: 73px;
	color: #002853;
	font-family: 'PFCatalog-Black';
	font-weight: 400;
}
.recipe-instgm-sct-inner h4{
	display: block;
	text-align: center;
	padding-bottom: 75px;
	font-size: 28px;
	color: #002853;
	font-family: 'PFCatalog-Black';
	font-weight: 400;
	margin-top: 0;
}

.recipe-instgm-video-sct{
	padding-left: 95px;
	padding-right: 95px;
}
.recipe-instgm-video-sct ul{
	list-style: none;
	padding-left: 0;
}
.recipe-instgm-video-sct ul li{
	float: left;
	width: 33.3333%;
	padding-right: 10px;
	padding-left: 10px;
}
.recipe-instgm-video-sct ul li:first-child{
	padding-left: 0;
}
.recipe-instgm-video-sct ul li:last-child{
	padding-right: 0;
}
.recipe-instgm-video-sct-inner img,
.recipe-instgm-video-icon img{
	display: inline-block;
}



.recipe-instgm-video-sct-inner{
	position: relative;
}
.recipe-instgm-video-icon{
	position: absolute;
	top: 15px;
	left: 15px;
}


