/*
------------------------
the-power-prd-tp
------------------------
*/
.the-power-prd-tp{
	padding-top: 300px !important;
}
/*
--------------------------
pk-two-grid-sec-wrp
--------------------------
*/
.pk-two-grid-sec-wrp{
	padding-top: 115px;
	background-image: url(../images/two-grid-bg.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.enti-hdr{
	max-width: 685px;
	width: 100%;
	margin: 0 auto;
}
.enti-hdr h2,
.enti-hdr h1{
	margin: 0;
	font-size: 40px;
	line-height: 45px;
	font-family: 'PFCatalog-Black';
	color: #002853;
	text-align: center;
}
.pk-two-plate-wrp{
	padding-left: 30px;
    padding-right: 30px;
    padding-top: 150px;
}
.pk-two-plate-wrp ul{
	list-style: none;
	margin: 0;
	padding: 0;
}
.pk-two-plate-wrp ul li{
	padding-bottom: 175px;
}
.pk-two-plate-wrp ul li .pk-two-plate-lft-bg{
    float: left;
    width: 40%;
    padding-left: 30px;
    position: relative;
    z-index: 10;
}
.pk-two-plate-wrp ul li:nth-child(2n+2) .pk-two-plate-lft-bg{
    float: right;
    padding-right: 55px;
    padding-left: 0;
    width: 44%;
}
.pk-two-plate-wrp ul li .pk-two-plate-lft-img{
	background-repeat:no-repeat !important;
	background-position:center center !important;
	background-size:cover !important;
	min-height:505px !important;
}
.pk-two-plate-wrp ul li .pk-two-plate-lft-img:after{
	content: "";
	position: absolute;
	left: 0;
	top: -25px;
	right: 25px;
	bottom: 25px;
	border:10px solid #e5e8eb;
	z-index: -1;

}
.pk-two-plate-wrp ul li:nth-child(2n+2) .pk-two-plate-lft-img:after {
    left: 25px;
    top: 30px;
    right: 25px;
    bottom: -25px;
}
.pk-two-plate-wrp ul li .pk-two-plate-dsc-rgt-con{
    float: left;
    width: 60%;
    padding-left: 156px;
    padding-top: 100px;
}
.pk-two-plate-wrp ul li:nth-child(2n+2) .pk-two-plate-dsc-rgt-con{
    padding-left: 40px;
    padding-top: 60px;
    padding-right: 140px;
    width: 56%;
}

.pk-two-plate-rgt-dsc h4{
	margin: 0;
	color: #002853;
	font-family: 'PFCatalog-Black';
	margin-bottom: 25px;
}
.pk-two-plate-rgt-dsc p strong{
	display: inline-block;
	vertical-align: baseline;
	font-size: 16px;
	line-height: 24px;
	color: #002853;
	font-weight: normal;
}
.pk-two-plate-rgt-dsc p{
	font-size: 12px;
	line-height: 17px;
	color: #8d96a5;
}
.pk-two-plate-wrp ul li:nth-child(2n+2) .pk-two-plate-rgt-dsc p:first-of-type{
	padding-top: 40px;
}
.pk-two-plate-lft-img span {
    background-image: url(../images/pk-brnd-logo.png);
    background-repeat: no-repeat;
    background-size: 155px 155px;
    width: 155px;
    height: 155px;
    position: absolute;
    top: -73px;
    right: -80px;
}

/*
----------------------
 Responsive css
-----------------------
*/
@media(max-width: 1599px){
    
}
@media(max-width: 1199px){
    .hide-md{
        display: none!important;
    }
    .show-md{
        display: block!important;
    }
    .enti-hdr h2,
    .enti-hdr h1{
    	font-size: 36px;
    	line-height: 40px;
    }
    .pk-two-plate-wrp ul li .pk-two-plate-dsc-rgt-con {
	    padding-left: 80px;
	    padding-top: 85px;
	}
	.pk-two-plate-wrp ul li:nth-child(2n+2) .pk-two-plate-dsc-rgt-con {
	    padding-top: 50px;
	    padding-right: 70px;
	}

}

@media(max-width: 991px){
    .hide-sm{
        display: none!important;
    }
    .show-sm{
        display: block!important;
    }
    .enti-hdr h2,
    .enti-hdr h1{
    	font-size: 33px;
    	line-height: 37px;
    }
    .pk-two-plate-wrp {
	    padding-left: 0;
	    padding-right: 0;
	}
	.pk-two-plate-wrp ul li .pk-two-plate-dsc-rgt-con {
	    padding-left: 50px;
	    padding-top: 50px;
	}
	.pk-two-plate-wrp ul li:nth-child(2n+2) .pk-two-plate-dsc-rgt-con {
	    padding-top: 30px;
	    padding-right: 50px;
	    padding-left: 0;
	}
	.pk-two-plate-rgt-dsc h4 br{
		display: none;
	}
    
}


@media(max-width: 767px){
    .hide-xs{
        display: none!important;
    }
    .show-xs{
        display: block!important;
    }
    .enti-hdr h2,
    .enti-hdr h1{
    	font-size: 28px;
    	line-height: 34px;
    }
    .pk-two-grid-sec-wrp{
    	padding-top: 70px;
    }
    .enti-hdr {
	    max-width: 430px;
	    width: 100%;
	    margin: 0 auto;
	}
	.pk-two-plate-wrp{
		padding-top: 120px;
	}

}



@media(max-width: 639px){

}



@media(max-width: 575px){


}


@media(max-width: 479px){


}



@media(max-width: 359px){

}
